<section class='section'>
	<div class='container'>
		<div class='columns is-multiline'>

			<!-- Main Editor -->
			<div class='column is-half'>
				<form>
					<div class='field'>
						<div class='control'>
							<textarea
									[(ngModel)]='markdownBody'
									(change)='writeFile()'
									(ngModelChange)='writeFile()'
									name='markdown'
									class='textarea is-link'
									placeholder='Start typing...'
									style='width: 200%'></textarea>
						</div>
					</div>
				</form>
			</div>

			<!-- Output -->
			<div class='column is-half'>
				<article class='message'>
					<div class='message-header'>
						<input class='input' [(ngModel)]='newFileName'> 
						&nbsp;
						<button class='button is-warning' (click)='updateFileName()'>Save</button>
					</div>
					<div class='message-body content' [innerHTML]='parseMD(markdownBody)'></div>
				</article>
			</div>

			<!-- File manager -->
			<div class='column'>
				<nav class='panel is-link'>
					<p class='panel-heading'>Files</p>
					<a class='panel-block'
						 *ngFor='let file of getFileList()'
						 [ngClass]='{"is-active": file === currentFile}'
						 (click)='openFile(file)'>
						<span class='panel-icon has-text-red'>
							<i class='fas fa-trash' aria-hidden='true' (click)='deleteFile(file)'></i>
						</span>
						{{file}}
					</a>
					<a class='panel-block has-text-grey' *ngIf='getFileList().length === 0'><small><em>No files here</em></small></a>
				</nav>
			</div>
		</div>
	</div>
</section>

<!-- Delete Modal -->
<div class='modal' [ngClass]='{"is-active": modalOpen}'>
	<div class='modal-background'></div>
	<div class='modal-content has-background-white has-text-dark p-3'>
		<p>Are you sure?</p>
		<br>
		<div class='field is-grouped'>
			<p class='control'>
			<button class='button' (click)='abortDelete()'>
				Cancel
			</button>
			</p>
			<p class='control'>
			<button class='button is-danger' (click)='confirmDelete()'>
				Delete
			</button>
			</p>
		</div>
	</div>
	<button class='modal-close' (click)='abortDelete()'></button>
</div>
