<nav class='navbar' role='navigation' aria-label='main navigation'>
	<div class='navbar-brand'>
		<a class='navbar-item' href='https://bulma.io'>
			<strong>Cursory</strong>
		</a>

		<a role='button' class='navbar-burger' aria-label='menu' (click)='toggleNav()'>
			<span aria-hidden='true'></span>
			<span aria-hidden='true'></span>
			<span aria-hidden='true'></span>
		</a>
	</div>

	<div id='topnav' class='navbar-menu' [ngClass]='{"is-active": navOpen}'>
		<div class='navbar-end'>
			<div class='navbar-item has-dropdown is-right is-hoverable'>
				<a class='navbar-link'>
					Preview as
				</a>

				<div class='navbar-dropdown'>
					<a class='navbar-item'>
						HTML
					</a>
					<a class='navbar-item'>
						Styled HTML
					</a>
					<a class='navbar-item'>
						Markdown
					</a>
					<a class='navbar-item'>
						Parsed Markdown
					</a>
					<a class='navbar-item'>
						PDF
						&nbsp;
						<span class='tag is-primary'>Coming soon!</span>
					</a>
				</div>
			</div>
			<div class='navbar-item has-dropdown is-right is-hoverable'>
				<a class='navbar-link'>
					Export as
				</a>

				<div class='navbar-dropdown'>
					<a class='navbar-item'>
						HTML
					</a>
					<a class='navbar-item'>
						Styled HTML
					</a>
					<a class='navbar-item'>
						Markdown
					</a>
					<a class='navbar-item'>
						Parsed Markdown
					</a>
					<a class='navbar-item'>
						PDF
						&nbsp;
						<span class='tag is-primary'>Coming soon!</span>
					</a>
				</div>
			</div>
			<div class='navbar-item has-dropdown is-right is-hoverable'>
				<a class='navbar-link'>
					Save to
				</a>

				<div class='navbar-dropdown'>
					<a class='navbar-item'>
						GitHub
						&nbsp;
						<span class='tag is-primary'>Coming soon!</span>
					</a>
					<a class='navbar-item'>
						Google Drive
						&nbsp;
						<span class='tag is-primary'>Coming soon!</span>
					</a>
				</div>
			</div>
			<div class='navbar-item has-dropdown is-right is-hoverable'>
				<a class='navbar-link'>
					Import from
				</a>

				<div class='navbar-dropdown'>
					<a class='navbar-item'>
						HTML
						&nbsp;
						<span class='tag is-primary'>Coming soon!</span>
					</a>
					<a class='navbar-item'>
						Markdown
						&nbsp;
						<span class='tag is-primary'>Coming soon!</span>
					</a>
					<a class='navbar-item'>
						GitHub
						&nbsp;
						<span class='tag is-primary'>Coming soon!</span>
					</a>
					<a class='navbar-item'>
						Google Drive
						&nbsp;
						<span class='tag is-primary'>Coming soon!</span>
					</a>
					<a class='navbar-item'>
						PDF
						&nbsp;
						<span class='tag is-primary'>Coming soon!</span>
					</a>
				</div>
			</div>
			<a class='navbar-item' target='GitHub' href='https://GitHub.com/SiddharthShyniben/cursory'>
				GitHub
				&nbsp;
				<i class='fas fa-external-link-alt'></i>
			</a>
		</div>
	</div>
</nav>
